<a id="location" href="#location" role="tab" aria-controls="location-panel">
    <aside class="gaia-icon icon-contact-location"></aside>
</a>
<div id="location-panel" class="bb-tabpanel" role="tabpanel" aria-labelledby="location">
    <% if (address) { %>
        <section class="gaia-list">
            <article>
                <header>Dirección</header>
                <ul>
                    <li>
                        <p><%= address %></p>
                    </li>
                </ul>
            </article>
        </section>
    <% } %>
</div>
