<section data-type="sidebar">
    <nav id="sidebar-regions">
        
    </nav>
</section>

<section id="drawer" role="region">
    <header>
        <a href="#"><span class="icon icon-menu">hide sidebar</span></a>
        <a href="#drawer"><span class="icon icon-menu">show sidebar</span></a>
        <h1>museaMoz</h1>
    </header>
    <div role="main">
        <header>
            <h2>Guía de museos del Perú</h2>
        </header>
        <div id="main-content">
            <p class="text-center">
                <progress></progress>
            </p>
        </div>
    </div>
</section>
