<a id="info" href="#info" role="tab" aria-controls="info-panel">
    <aside class="gaia-icon icon-media-info"></aside>
</a>
<div id="info-panel" class="bb-tabpanel" role="tabpanel" aria-labelledby="info">
    <section class="gaia-list fit scroll">
        <article>
            <% if (collection && collection.length > 0) { %>
                <header>Colección</header>
                <ul>
                    <li>
                        <p><%= collection.join(', ') %></p>
                    </li>
                </ul>
            <% } %>

            <ul>
                <li>
                    <p>
                        <strong><%= name %></strong>
                    </p>
                </li>
                <% if (description) { %>
                    <li>
                        <p><%= description %></p>
                    </li>
                <% } %>
            </ul>

            <% if (schedule.length > 0) { %>
                <header>Horarios</header>
                <ul>
                    <% _.each(schedule, function(item) { %>
                        <li>
                            <p><%= item %></p>
                        </li>
                    <% }) %>
                </ul>
            <% } %>
        </article>
    </section>
</div>
